body {
    background-color: rgb(25 25 25);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movebtn{
    background-color: transparent;
    border: 2px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.images{
    height: 50px;
}

.resetbtn{
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: greenyellow;
    transition: transform 0.3s;
}

.resetbtn:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

@media (max-width:400px){

    h1{
        font-size: 22px;
    }

    .movebtn{
        background-color: transparent;
        border: 2px solid #fff;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    
    .images{
        height: 50px;
    }
    
}